.wishlistheader{
    background-color: rgb(230, 237, 245);
}
.wishlisttitle{

    font-weight: bold;
    text-align: center;
}
.left_arrow{
    text-align: right;
    
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    padding: 10px;
}
/* .wishcircle{
    background-color: orange;
    border-radius: 100%;
    width: 1%;
    text-align: center;
    height: 20px;
} */
.wishlistlink{
    text-decoration: none;
    color: black;
}


/* btn */
@media(max-width:768px){
    .container{
        width: 100%;
        overflow: hidden;
    }
}
.cta {
    border: none;
    background: none;
  }
  
  .cta span {
    padding-bottom: 7px;
    letter-spacing: 2px;
    font-size: 12px;
    padding-right: 15px;
    text-transform: uppercase;
  }
  
  .cta svg {
    transform: translateX(-8px);
    transition: all 0.3s ease;
  }
  
  .cta:hover svg {
    transform: translateX(0);
  }
  
  .cta:active svg {
    transform: scale(0.9);
  }
  
  .hover-underline-animation {
    position: relative;
    color: black;
    padding-bottom: 20px;
  }
  
  .hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .cta:hover .hover-underline-animation:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  .wishlistlog{
    background-color: rgb(173, 183, 192);
  }
  .buttonbuyall{
           background-color: rgb(0, 104, 215);;
  }
 